<!-- ******FOOTER****** -->
<footer class="footer">
  <div class="container text-center">
    <small class="copyright">A free, <a href="https://github.com/yashanilff503/detroithacksreal" target="_blank">open source</a> project from the folks at <a href="http://detroithacks.org" target="_blank">Detroit Hacks</a></small><br>
    <small class="copyright">Designed with <i class="fa fa-heart"></i> by <a href="http://detroithacks.org" target="_blank">Yash Anil and Jeet Anil</a></small>
  </div><!--//container-->
</footer><!--//footer-->
